.mainback {
  min-height: 90vh;
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container-row {
  width: 1000px;
  display: flex;
  flex-direction: row;
}
.page {
  width: 100%;
}
.heading {
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  padding: 5px 10px;
}
